.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;


    transform: translate(-50%, -50%);

  }

  .marker:hover {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 27px;
    height: 27px;


    transform: translate(-50%, -50%);

  }


  .marker:active {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;

    transform: translate(-50%, -50%);

  }